body{
    background-color: aliceblue;
}
img {
    max-width: 360px;
    margin-left: 1rem;
    max-height: 90%;
}
h1 {
    background-color: rgb(213, 230, 230);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
#imagens{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.draggable {
  color: white;
  cursor: grab;
}
#dropzone {
  padding: 40px;
  background-color:aliceblue;
  border: 2px dashed #bbb;
  border-radius: 5px;
  transition: background-color 0.3s;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 45%;
}
#favoritos{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 300px;
}
h2{
  font-size: 2.7rem;
  margin: 0;
}
