body{
    background-color: aliceblue;
}
img {
    max-width: 300px;
    margin-left: 1rem;
}
h1 {
    background-color: rgb(213, 230, 230);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.imagens{
    background-color:rgba(240, 255, 255, 0.863);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
